/**Congigurações do site principal e seus tópicos: Saúde/Exercícios/Nutrição*/
.body_principal{
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    max-width: 5000px;
    min-width: 300px;
    text-align: justify;
    height: 4450px;
    color: #FFFFFF;
}

hr{
    border-color: red;
}

.cabecalho{
    height: 30px;
}

.button_loja{
    float: right;
    margin-right: 50px;
    margin-top: -20px
}

.botao{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.botao:hover{
    color: rgb(99, 10, 10)
}

.imagem_header{
    width: 1345px;
    height: 500px;
    padding-top: 10px;
}

.sumario_main{
    display: flex;
}

.sumario{
    color: red;
    padding: 15px;
    font-size: 15px;
    background-color: azure;
    height: 200px;
    border-radius: 5px 5px 5px;
    margin-top: 10px;
    margin-left: 20px;
}

.padrao{
    border-color: rgb(241, 237, 237);
}

.lista_sumario{
    width: 300px;
}

.sumario_a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.sumario_a:hover{
    color: rgb(255, 115, 1)
}

.main{
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1480px;
}

.titulo_conteudo{
    color: red;
}

.div_recomendados{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-left: 8px;
}

.recomendados{
    text-decoration: none;
    font-size: 20px;
}

.recomendados:hover{
    color: rgb(99, 10, 10);
    transition: ease-in-out 1s;
}

.interno_recomendados{
    width: 360px;
    height: 200px;
}

.imgs{
    width: 360px;
    height: 200px;
}

.footer{
    height: 350px;
    margin-top: 300px;
}

.nav_bar{
    width: auto;
    height: 45px;
    background-color: #515356;
    color: #FFFFFF;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 8px;
}

.fim{
    display: flex;
    width: 100%;
    padding-left: 200px;
    padding-top: 12px;
    background-color: #6e7279;
    text-decoration:none;
    height: 200px;
}

.blog{
    width: 33.3%;
    color: #FFFFFF;
}

.contato{
    width: 33.3%;
    color: #FFFFFF;
}

.loja{
    width: 33.3%;
    color: #FFFFFF;
}

.fim_2{
    background-color: #6e7279;
    display: flex;
    padding-left: 40px;
    height: 150px;
    padding-top: 50px;
    justify-content: space-around; 
}

.parceiros{
    width: 115px;
    height: 40px;
}

.fim_h4{
    padding-left: -105px;
    color: #FFFFFF;
}

/**Configurações dos termos do site*/

.termos_body{
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: #FFFFFF;
}

.menu_ancoragem{
    width: 1345px;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 15px;
    padding-top: 5px;
}

.sumario_termos{
    color: red;
    padding: 15px;
    font-size: 15px;
    background-color: azure;
    height: 270px;
    border-radius: 5px 5px 5px;
    margin-top: 10px;
    margin-left: 20px;
}

.img_gd{
    width: 650px;
    height: 420px;
}

.footer_nutri{
    margin-top: 440px;
}

.sumario_nutri{
    color: red;
    padding: 15px;
    font-size: 15px;
    background-color: azure;
    height: 270px;
    border-radius: 5px 5px 5px;
    margin-top: 10px;
    margin-left: 20px;
}

.letra{
    font-size: 16px;
}

/**Configurações do formulário dos comentários*/

.body_form{
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: #FFFFFF;
    font-size: 16px;
    height: 1500px;
}

.corpo_texto{
    padding-left: 130px;
    padding-right: 130px;
}

.msg{
    display: grid;
}

.msg1{
    display: grid;
    width: 50%;
}

.labels{
    color: gray;
}

.textarea{
    height: 300px;
    width: 500px;
    resize: none;
    overflow: none;
    vertical-align: top;
    border-radius: 10px 10px 10px;
    cursor: text;
}

.textarea:hover{
    border-color: red;
}

.inputs{
    width: 400px;
    height: 30px;
    border-radius: 5px 5px 5px;
}

.publicar{
    background-color: red;
    color: black;
    font-size: 30px;
    border-radius: 5px 5px;
    border-color: yellow;
    cursor: pointer;
    margin-left: 70px;
}

.selected{
    cursor: pointer;
    width: 400px;
    height: 30px;
}

.publicar:hover{
    color: whitesmoke;
}

.display_conteudo{
    width: 100%;
    display: flex;
}

.informações{
    width: 50%;
    padding-left: 100px;
}

.footer_form{
    height: 350px;
    margin-top: 100px;
}

/**Configurações do thanks.html*/
.body_thanks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.h1_thanks{
    text-align: center;
}

.logo{
    position: fixed;
    top: 0;
    left: 0;
    width: 12%;
    height: 20%;
}

.foto{
    position: mid;
    top: 0;
    left: 0;
    width: 10%;
}

.logo2{
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 5.65%;
}